{% extends "base/base.html" %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Elementy zamowienia</h3>
          </div>
          <div class="card-body">

            <table class="table table-bordered">
              <thead>
                <tr style="text-align: right;">
                  <th>Ref.</th>
                  <th>TQ/PR</th>
                  <th>Product</th>
                  <th>Description</th>
                  <th>Height</th>
                  <th>Width</th>
                  <th>Qty</th>
                  <td>Spakowanno</td>
                  <td>palety</td>
                </tr>
              </thead>
              <tbody>
                {% for pelement in project.projectelement_set.all %}
                <tr>
                  <td>{{ pelement.ref }} </td>
                  <td>{{ pelement.tq_pr }} </td>
                  <td>{{ pelement.description }} </td>
                  <td>{{ pelement.product }} </td>
                  <td>{{ pelement.height }} </td>
                  <td>{{ pelement.weight }} </td>
                  <td>{{ pelement.qty }} </td>
                  <td>
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-danger" style="width: 10%"></div>
                    </div>
                  </td>
                  <td>brak</td>
                </tr>
                {% endfor %}
                
              </tbody>
            </table> 



          
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}




<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
</body>
</html>